
.archiveControl,
.pankuzu,
#main > article > div,
#main > form > article > div,
#main > article > section {
	margin-left: 0.98%;
	margin-right: 0.98%;
}
.pankuzu,
#main > article {
	margin-bottom: 2%;
}
.pankuzu:not(:first-child) {
	margin-top: -2%;
}


/******************
銝�閬扼�𠾼�潦��
******************/

.archiveControl {
	overflow: hidden;
	clear: both;
	margin-bottom: 2%;
}
.displayArea {
	margin-bottom: 2%;
	overflow: hidden;
}
.displayDesc {
	float: left;
}
.displayDesc span {
	font-size: 1.5em;
}
.displayVol {
	float: right;
}
.displayVol select {
	margin-left: 5px;
}


/******************
閰喟敦�𠾼�潦��
******************/

.photoArea {
	width: 48%;
	float: left;
	margin: 0 4% 4% 0;
}
.photoArea figure {
	width: 100%;
	line-height: 0;
	margin-bottom: 2%;
}
.photoArea figure img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.photoArea ul {
	background-color: #eee;
	overflow: hidden;
	clear: both;
}
.photoArea ul li {
	width: 25%;
	padding: 1%;
	float: left;
	line-height: 0;
	cursor: pointer;
}
.photoArea ul li img {
	max-width: 100%;
	height: auto;
	border: 1px solid #ccc;
}

.itemInfo {
	width: 48%;
	float: right;
}
.itemInfo .lead {
	margin-bottom: 3%;
	font-size: 1.166em;
}
.itemExplain {
	margin-bottom: 3%;
}
.itemPrice {
	margin-bottom: 3%;
	padding: 2% 0;
	text-align: right;
	font-size: 1.5em;
}
.itemPrice:not(:first-child) {
	display: none;
}
.itemPrice strong {
	font-size: 1.6em;
}
.itemPrice .noStock {
	display: inline-block;
	margin-right: 10px;
	color: red;
	font-size: 0.84em;
}
.descriptionsSection {
	margin-bottom: 8%;
}
.descriptionsSection h3 {
	font-size: 1.17em;
}

/*
鞈澆�乓�栶�踴�喳𪂹��
*/

.cartArea,
.optionsSection {
	background-color: #eee;
	padding: 3%;
	margin-bottom: 3%;
}
.itemSkuSelect {
	margin-bottom: 3%;
	font-size: 1.166em;
}
.itemSkuSelect li {
	margin-bottom: 2%;
}
.itemSkuSelect li:last-child {
	margin-bottom: 0;
}
.handleBuyArea {
	background-color: #fff;
	padding: 3%;
	margin-bottom: 3%;
}
.handleBuyArea .disabledLabel .disabled {
	color: #ff3300;
}
.handleBuyArea input[type="radio"] {
	margin-right: 5px;
}
.handleBuyArea input[type="radio"][disabled] {
	visibility: hidden;
}
.selectQuantity {
	font-size: 1.166em;
}
.selectQuantity:not(:first-child) {
	margin-top: 10px;
}
.selectQuantity select {
	vertical-align: top;
	margin-left: 5px;
	min-width: 50px;
}
#ui-datepicker-div {
    font-size: 1.6em;
}
.btnCartIn,
.btnFavorite {
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	line-height: 50px;
	position: relative;
	color: #fff;
	padding: 5px 0;
	margin-top: 3%;
}
.btnCartIn {
	width: 70%;
	margin: 3% auto 0;
	background-color: #4CAF50;
	background-image: linear-gradient(to bottom, #ffd700, #ff8c00);
	background-image: -moz-linear-gradient(top, #ffd700, #ff8c00);
	background-image: -webkit-gradient(linear, left top, left bottom, 	color-stop(0.00, #ffd700), color-stop(1.0, #ff8c00));
	border: 1px solid #ff0;
	border-color: #ffa500 #a0522d #a0522d;
	box-shadow: 0px 0px 1px #fff inset;
	border-radius: 10px;
}

.btnCartIn:hover {
	opacity: 0.9;
}
.btnCartIn:active {
	background-image: linear-gradient(to bottom, #ff8c00,#ffd700 );
	background-image: -moz-linear-gradient(top, #ff8c00,#ffd700 );
	background-image: -webkit-gradient(linear, left top, left bottom, 	color-stop(0.00,#ff8c00), color-stop(1.0, #ffd700));
}
.btnCartIn:disabled  {
	background-color: #999;
	background-image: none;
}
.btnCartIn:disabled i {
	display: none;
}
.btnCartIn i,
.btnFavorite i {
	/*vertical-align: middle;*/
	margin-right: 10px;
}
.btnCartIn .fa-2x {
    font-size: 1.2em;
}
.btnFavorite {
	background-color: #F06292;
}
.btnCartIn:hover,
.btnFavorite:hover {
	text-decoration: none;
}

.itemInfo .skuArea {
	margin-bottom: 2%;
	font-size: 1.17em;
}
.itemInfo .skuArea dl {
	margin-bottom: 2%;
}
.itemInfo .skuArea dl dt {
	font-weight: bold;
}
.itemInfo .skuArea dl dt span {
	font-weight: normal;
}
.itemInfo .skuArea dl dd {

}
.itemInfo .skuArea dl dd ul::after {
	content: "";
	display: block;
	clear: both;
}
.itemInfo .skuArea dl dd ul li {
	margin: 0 5px 5px 0;
	float: left;
}
.itemInfo .skuArea dl dd label {
	display: block;
	cursor: pointer;
	position: relative;
	border: solid 1px #ccc;
    border-radius: 2px;
}
.itemInfo .skuArea dl dd .skuSizes label {
	min-width: 70px;
	padding: 5px;
}
.itemInfo .skuArea dl dd .skuSizes .disabled label {
	background: #eee;
}
.itemInfo .skuArea dl dd .skuSizes input {
	margin-right: 5px;
}
.itemInfo .skuArea dl dd .skuSizes input[disabled] {
	visibility: hidden;
}
.itemInfo .skuArea dl dd .skuColors label {
	width: 55px;
	height: 45px;
}
.itemInfo .skuArea dl dd .skuColors .black label {
	background: #000;
}
.itemInfo .skuArea dl dd .skuColors .gray label {
	background: #ddd;
}
.itemInfo .skuArea dl dd .skuColors .white label {
	background: #fff;
}
.itemInfo .skuArea dl dd .skuColors .brown label {
	background: #745630;
}
.itemInfo .skuArea dl dd .skuColors .beige label {
	background: #e5d5b4;
}
.itemInfo .skuArea dl dd .skuColors .red label {
	background: #db2c22;
}
.itemInfo .skuArea dl dd .skuColors .orange label {
	background: #ea9e1a;
}
.itemInfo .skuArea dl dd .skuColors .navy label {
	background: #193282;
}
.itemInfo .skuArea dl dd .skuColors .blue label {
	background: #1a50ea;
}
.itemInfo .skuArea dl dd .skuColors .purple label {
	background: #7c1aea;
}
.itemInfo .skuArea dl dd .skuColors .pink label {
	background: #f68ddc;
}
.itemInfo .skuArea dl dd .skuColors .green label {
	background: #4cac48;
}
.itemInfo .skuArea dl dd .skuColors .skyblue label {
	background: #77c8f7;
}
.itemInfo .skuArea dl dd .skuColors label input,
.itemInfo .skuArea dl dd .skuColors label .title {
	opacity: 0.01;
	position: absolute;
	left: 0;
	top: 0;
}
.itemInfo .skuArea dl dd .skuColors label input + i {
	display: none;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	color: #1e90ff;
	font-size: 16px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff,
		1px -1px 1px #fff,
		-1px -1px 1px #fff,
		-1px 1px 1px #fff,
		1px 0px 1px #fff,
		0px 1px 1px #fff,
		-1px 0px 1px #fff,
		0px -1px 1px #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}
.itemInfo .skuArea dl dd .skuColors label input:checked + i {
	display: block;
}
.itemInfo .skuArea dl dd .skuColors .disabled {
	opacity: 0.5;
}

/*
�芥�𨰜�瑯�扼�喋�踴�麄���迎��
*/

.itemTypeSelect li {
	border-top: 1px solid #ccc;
	padding: 0 0 0 5px;
	font-size: 1.167em;
}
.itemTypeSelect li input[type=radio] {
	margin-right: 10px;
}
.itemTypeSelect li label{
	display: table;
	width: 100%;
	cursor: pointer;
}
.itemTypeSelect li div {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding: 10px 0;
}
.itemTypeSelect li:last-child div {
	padding: 10px 0 0 0;
}
.itemTypeSelect li div.price {
	text-align: right;
	font-size: 0.857em;
}
.itemTypeSelect li div.price span {
	font-size: 2em;
}

/*
隞睃�惩���
*/

.optionContent > section {
	margin-bottom: 2%;
	background-color: #eee;
	padding: 2%;
}
.optionContent > section:last-child {
	margin-bottom: 0;
}

.optionContent h3 {
	font-size: 1.3333em;
	margin-bottom: 2%;
	background-color: #999;
	padding: 1%;
	color: #fff;
}
.optionContent ul {
	margin-left: 1em;
}
.optionContent ul li {
	margin-bottom: 2%;
	overflow: hidden;
	clear: both;
}
.optionContent ul li:last-child {
	margin-bottom: 0;
}
.optionContent ul li figure {
	float: right;
	width: 200px;
	overflow: hidden;
	height: auto;
}
.optionContent ul li figure img {
	width: 100%;
	height: auto;
}
.optionDetail {
	margin-right: 220px;
}
.imgNone .optionDetail {
	margin-right: 0;
}
.optionDetail h4 {
	font-size: 1.333em;
	margin-bottom: 1%;
}
.optionDetail input {
	margin-right: 1em;
}
.optionDetail p {
	margin-left: 2em;
}
.optionDetail .price {
	margin-bottom: 1%;
}
.optionDetail .price span {
	font-size: 1.5em;
	font-weight: bold;
}

.optionsSection h3 {
	margin-bottom: 2%;
	font-size: 1.17em;
}
.optionsSection h3 i {
	margin-right: 5px;
}
.optionsSection ul li {
	margin-bottom: 2%;
	border: solid 1px #ccc;
    border-radius: 2px;
}
.optionsSection ul li:last-child {
	margin-bottom: 0;
}
.optionsSection ul li label {
	display: block;
	padding: 2%;
	cursor: pointer;
}
.optionsSection ul li h4 {
	font-size: 1.17em;
	font-weight: bold;
}
.optionsSection ul li h4 .price {
	font-size: 0.84em;
	float: right;
}
.optionsSection ul li h4 .price .num {
	font-size: 1.33em;
}
.optionsSection ul li input {
	margin-right: 5px;
}

/*�研�瓐�乓�潦�具�芥��*/

.reviewArea > div{
	font-size: 1.166em;
}

.reviewContent ul {
	margin-bottom: 2%;
}
.reviewContent li {
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 2%;
	margin-bottom: 2%;
}
.reviewContent li:last-child {
	margin-bottom: 0;
}
.reviewContent li:after {
	clear: both;
	content:"";
    display:table;
}
.rateArea {
	float: left;
	width: 20%;
}
.rateArea .starbox{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.rateArea p {
	font-size: 0.857em;
}
.rateText {
	margin-left: 25%;
}
.rateText h3 {
	margin-bottom: 1%;
}
.reviewWriteForm dl{
	width: 80%;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 2%;
}
.reviewWriteForm dt {
	float: left;
	clear: left;
	padding: 2% 0;
}
.reviewWriteForm dd {
	padding: 2% 0 2% 10em;
	border-top: 1px dotted #ccc;
}
.reviewWriteForm dd:last-child{
	border-bottom: 1px dotted #ccc;
}
.reviewWriteForm dd input[type=text],
.reviewWriteForm dd textarea{
	width: 100%;
	padding: 1%;
}
.recommendArea .itemList li {
	width: 20%;
}
.reviewAverage strong {
	font-size: 1.333em;
}
.reviewAverage .starbox {
	margin-bottom: 3%;
}
.deliveryContent h3 {
	margin-bottom: 1%;
	font-size: 1.166em;
}
.deliveryContent table {
	margin-bottom: 1.5%;
}

/* �𠾼�潦�� */
.pageContent h3 {
	margin-bottom: 1%;
	font-size: 1.5em;
}
.pageContent h3 small {
	font-weight: normal;
	font-size: 0.83em;
}
.pageContent .mainImage {
	margin-bottom: 4%;
	text-align: center;
}
.pageContent .mainImage img {
	max-width: 100%;
}
.pageContent .pageBody {
	min-height: 240px;
	font-size: 1.17em;
	line-height: 2;
}
.pageContent table {
	width: 100%;
}
.pageContent table th,
.pageContent table td {
    padding: 1%;
    border-bottom: 1px solid #ccc;
}
.pageContent table tr:first-child td {
    border-top: 1px solid #ccc;
}
.pageContent table tr:first-child th {
    border-top: 1px solid #ccc;
}
.pageContent table th{
    background-color: #ddd;
}

.after_pay a {
    color: -webkit-link;
    text-decoration: underline;
    padding-bottom: 10px;
    display: block;
}

/*
�𨰻�押�潦��
*/
#main #landing h2 {
	/*background-image: linear-gradient(to bottom, #eaf5f6, #d1e8eb);*/
	/*background-image: -moz-linear-gradient(top, #eaf5f6, #d1e8eb);*/
	/*background-image: -webkit-gradient(linear, left top, left bottom, 	color-stop(0.00, #eaf5f6), color-stop(1.0, #d1e8eb));*/
	/*border: 1px solid #d2691e;*/
	/*box-shadow: 0px 0px 1px #ffffff inset;*/
	background-color: #ffd700;
	text-align: center;
}

.itemName {
	font-size: 24px;
	color: #fff;
	text-align: center;
	background-color: #e30174;
	font-family: "皜豢�擧�苷��", "Yu Mincho","皜豢�擧��", "YuMincho", serif;
	padding: 8px 0;
	margin-bottom: 2%;
}

.itemWrap .descriptionsSection{
	margin-bottom: 3%;
	float: right;
	width: 48%;
}
.itemWrap .descriptionsSection h3 {
	font-size: 16px;
	margin-bottom: 2%;
}
.pageContent .payForm {
	margin-bottom: 4%;
}
.pageContent .payForm h3 {
	background-color: #ea9e1a;
	color: #fff;
	padding: 8px 15px 8px;
}
.pageContent .payForm table th,
.pageContent .payForm table td {
	padding: 1% 2%;
	font-size: 12px;
	font-weight: normal;
}
.pageContent .payForm table th span.important,
.pageContent .payForm table td span.important{
	color: #f00;
}
.pageContent .payForm table th {
	width: 30%;
	background-color: #fffaf0;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #ccc;
}
.pageContent .payForm table th .required {
	color: #f00;
	/*display: block;*/
	/*float: right;*/
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	/*background-color: #e50074;*/
	padding: 0 5px;
	margin-left: 5px;
	font-size: 10px;
	border: 1px solid #f00;
}

.pageContent .payForm table td {
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.pageContent .payForm input {
	padding: 10px;
	border: 1px solid #ffd700;
	border-top: 2px solid #b8860b;
	border-left: 2px solid #b8860b;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	outline: none;
}
.pageContent .payForm input,
.pageContent .payForm select {
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.pageContent .payForm table {
	background-color: #fff;
	line-height: 1.2;
}
.pageContent .payForm input:focus {
	border-top: 2px solid #930;
	border-left: 2px solid #930;
	border-right: 1px solid #fc0;
	border-bottom: 1px solid #fc0;
	background-color: #ffc;
}
.pageContent .payForm input:placeholder-shown {
	line-height: 110%;
}
.pageContent .payForm input::-moz-placeholder {
	line-height: 110%;
}
.pageContent .payForm input:-ms-input-placeholder {
	line-height: 110%;
}

.pageContent .payForm select {
	height: 35px;
	background-color: #fff;
	border: 1px solid #ffd700;
	border-top: 2px solid #b8860b;
	border-left: 2px solid #b8860b;
	border-radius: 5px 0 0 5px;
	padding: 0 10px;
	min-width: 100px;
}
.pageContent .payForm .formParts.required select {
	background-color: #ffd700;
}
.pageContent .payForm select {
	background-color: #fff;
}
.pageContent .payForm .productName {
	background-color: #ffeff0;
}
.pageContent .payForm .noBlock th,
.pageContent .payForm .noBlock td{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}
.pageContent .payForm .noBlock th {
	padding: 1%;
	font-size: 14px;
}
.pageContent .payForm .noBlock th:last-child,
.pageContent .payForm .noBlock td:last-child {
	border-right: none;
}
.pageContent .payForm .error {
	color: #e50074;
	display: block;
	font-weight: bold;
}
.formParts {
	position: relative;
	vertical-align: middle;
	display: inline-block;
}
.formParts .err {
	padding: 0 0 0 10px;
	color: #f00;
	position: absolute;
	display: block;
	right: -40%;
	bottom: 35%;
	/*width: auto;
	white-space: nowrap;
	background-color: #e50074;
	font-size: 12px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	z-index: 100;
	opacity: 0.9;
	display: none;*/
}
/*.formParts .err:after {
	content: "";
	display: block;
	position: absolute;
	opacity: 0.9;
	border-top: 8px solid #e50074;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	top: 100%;
	left: 10px;
	width: 0;
	height: 0;
}*/
.formParts input {
	background-color: #fff;
}
.formParts.required input {
	background-color: #ffd700;
}
.formParts select {
	outline: none;
}
.formParts input.yubin {
	width: 130px;
}
.blockUIcontent {
  padding: 20px;
}
.blockUIcontent p {
  margin-bottom: 10px;
  font-size: 14px;

}
.guidance {
	font-size: 18px;
	margin-bottom: 2%;
	letter-spacing: 1px;
	text-align: center;
}
.linkPrivacy {
	text-align: center;
	margin-top: 10px;
}
.linkPrivacy a{
	text-decoration: underline;
	padding-left: 10px;
}

.bgModal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 1000;
}
.bgModal:before
{
		content: "";
		display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    border-right-color: transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin
{
    0% { transform: rotate(0deg); opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1.0; }
    100%   { transform: rotate(360deg); opacity: 0.2; }
}

/* �𨰜�押�扎�僐�瑯�潦�腈�芥�瑯�� */
.pagePrivacy section{
	margin-bottom: 3%;
}
.pagePrivacy section h3 {
	border-bottom: 2px dotted #ea9e1a;
}
.pagePrivacy section div {
	line-height: 160%;
}
.pagePrivacy section div p {
	margin-bottom: 10px;
}
/*jstarbox�鍂css�瓐�瓐�卝��*/

.positioner {
	position: relative;
	display: inline-block;
	line-height: 0;
}

.starbox {
	cursor: pointer;
}
.starbox.unchangeable
{
	cursor: default;
}
.starbox .colorbar,
.starbox .ghost {
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.starbox .stars {
	display: inline-block;
}

.starbox .stars .star_holder {
	position: relative;
	z-index: 1;
}

.starbox .stars .star_holder .star {
	display: inline-block;
	vertical-align: baseline;
	background-repeat: no-repeat;
}

.starbox .stars .star_holder .star {
	background-image: url('../images/5-large.html');
	width: 33px;
	height: 33px;
}
.starbox.small .stars .star_holder .star {
  width: 17px;
  height: 17px;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}

.starbox .stars { background: #cccccc; }
.starbox .rated .stars { background: #dcdcdc; }
.starbox .rated.hover .stars { background: #cccccc; }
.starbox .colorbar { background: #ffcc1c; }
.starbox .hover .colorbar { background: #1e90ff; }
.starbox .rated .colorbar { background: #ffd851; }
.starbox .rated.hover .colorbar { background: #1e90ff; }
.starbox .rated.hover:active .colorbar { background: #ffd851; }
.starbox .ghost { background: #a1a1a1; }

/*jstarbox�鍂css�瓐�瓐�整��*/

/* �𠾼�潦�詻�� */
.pager {
    padding: 25px 0;
    margin: 0 -5px;
    text-align: center;
}
.pager a,
.pager strong {
    box-sizing: border-box;
    display: inline-block;
    min-width: 32px;
    height: auto !important;
    padding: 0 5px;
    margin: 5px;
    border: solid 1px #ea9e1a;
    background: #ea9e1a;
    color: #fff;
    line-height: 32px;
    text-align: center;
}
.pager strong {
    background: #fff;
    color: #999;
    font-weight: bold;
}
.payForm.calender.datepicker-trigger {
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    position: absolute;
    top: 2px;
    right: 0px;
}
.payForm.calender.datepicker-trigger img {
    width: 20px;
}
.payForm .spForm01.ui-datepicker-trigger img   {
    width: 24px;
    /* position: relative; */
    position: absolute;
    right: 21px;
    top: 13px;
    padding-left: -20px;
}
.ui-datepicker-trigger{
    width: 29px;
    height: 24px;
    padding: 0;
    background: none;
    position: absolute;
    top: 12px;
    right: 8px;
}

#contents { padding: 0px 0 55px; }
#form #priceTable th,
#form #priceTable td { display: block;height: 60px;line-height: 61px;padding: 0;font-size: 14px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-sizing: border-box;-ms-sizing: border-box; }

#form #priceTable tr { display: block; }
#form #priceTable tr:first-child { float: left;width: 30%; }
#form #priceTable tr:nth-child(2) { float: left;width: 70%; }

#form #priceTable tr:first-child th { display: block;width:100%;border-bottom: 0;border-right: 0;text-align: center; }
#form #priceTable tr:first-child th:last-child { border-bottom: 1px solid #ccc; }
#form #priceTable tr:nth-child(2) td { width: 100%;padding: 0 0 0 20px;border-top: 1px solid #ccc;border-bottom: 0;border-right: 0; }
#form #priceTable tr:nth-child(2) td:last-child { font-size: 14px;border-bottom: 1px solid #ccc; }

.ftb { position: fixed; bottom: 10px; right: 10px; }
.ftb img { width: 110px;}

/* 20171213Description_CSS*/
.pymRgrTxt {
	display: none;
    padding: 5px;
    margin-top: 15px;
    background: #f9f9f9;
    border: 1px solid #dcdcdc;
}
.pymRgrTxt p {
    font-size: 12px;
    margin-bottom: 10px;
}
.important{
	color: #f00;
}
.custom{
	font-size: 13px;
}
.pageContent .note{
    padding: 10px;
    font-size: 14px;
    line-height: 1.7;
}

.calender img {
    width: 100%;
    display: block;
	position: absolute;
    top: -5px;
}
.after_pay img {
    width: 100%;
    margin: 0 auto;
}
#ui-datepicker-div {
    font-size: 0.9em;
}

/* 20180301 Edition_CSS */
#priceTable tr:nth-child(2) td:nth-child(3) .error {
    display: inline-block;
}

/*20180808 edition_css*/
.upsale_wrap #contents {
    padding: 0;
}

.upsale_wrap .pageContent .payForm {
    margin-bottom: 0;
}

.upsale_wrap #contents .pageContent .payForm h3 {
    font-size: .8em;
    font-weight: bold;
}

.pageContent .payForm #priceTable select {
    background-color: #fff;
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    appearance: none;
    /*border: none;*/
}

#ec_client_landing_page_type_sex label {
    padding: 9px;
}
.upsale_wrap .btnCartIn, .upsale_wrap .btnFavorite {
    font-size: 1em;
}

@media only screen and (max-width: 768px){
	/*#ec_client_landing_page_type_product_sku_id {
	    width: 150px;
	}*/

	.pageContent .payForm h3 {
	    background-color: #ea9e1a;
	    color: #fff;
	    padding: 1% 2%;
	    font-size: 1.1em;
	}
	.pageContent .payForm input, .pageContent .payForm select {
	    font-size: 14px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	}
	.linkPrivacy {
	    font-size: 14px;
	}


}
/* sp_css */
@media only screen and (max-width: 768px) {
	html, body, div, p, a {
	    margin: 0 auto;
	    padding: 0;
	    font-size: 100%;
	}
	tr.card img {
    width: 100%;
}
	.pageContent h3 {
	    margin-bottom: 1%;
	    font-size: 14px;
	}
	.pageContent .payForm .noBlock th{
		font-size: 12px;
	}
	.pageContent .payForm table th{
		font-size: 12px;
		width: 35%
	}
	.pageContent .payForm input, .pageContent .payForm select {
	    font-size: 14px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	}
	/*#priceTable select {
	    width: 20%;
	}*/
	/*#priceTable tr:nth-child(2) td:nth-child(3){
		max-width: 15px;
		text-align: center;
	}*/
	#priceTable tr:nth-child(2) td:nth-child(3) select {
	    min-width: 55px;
	}
	#priceTable select#quantity {
	    min-width: 100%;
	}
	.pageContent, .pageContent p{
		font-size: 11px;
	}
	.price-tbl{
	    display: block;
	    width: 100%;
	    overflow-x: auto;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.linkPrivacy{
	    font-size: 12px;
	}
	.pageContent .payForm .noBlock th, .pageContent .payForm .noBlock td{
		font-size: 11px;
	}
	.btnCartIn, .btnFavorite{
	    font-size: 1.5em;
    	line-height: 40px;
	}
	#contents.upsaleForm .pageContent .pageBody {
	    min-height: 120px;
	}
	.pageContent .payForm input:placeholder-shown {
	    line-height: 32px;
	}
	.pageContent .payForm input {
	    padding: 10px;
	    height: 32px;
		float: left;
	}
	#ec_client_landing_page_type_sex label {
    padding: 9px;
    margin-top: 7px;
    float: left;
}

}